<%- include("./partials/header") %>
</head>
<body>
    <h1>Home page!!!</h1>

    <%= user.firstName %>

    <p></p>

    <img src = "<%= user.image %>">
    <a href="/explore/<%= user._id %>">Go to explore page</a>

<%- include("./partials/footer") %>