<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SetItUp</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesheet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    <link rel="stylesheet" href="/stylesheets/showProfile.css">
</head>
<body class="profile-page mb-4">
    <div class="page-header header-filter" data-parallax="true" style="background-image:url('https://cdn.shopify.com/s/files/1/0027/9642/1155/products/Love6_2000x.png?v=1562795222'); background-repeat: no-repeat;background-size: cover;"></div>
    <div class="main main-raised">
		<div class="profile-content">
            <div class="container">
                <div class="row">
	                <div class="col-md-6 ml-auto mr-auto">
        	           <div class="profile">
	                        <div class="avatar">
	                            <img src="<%= user.image %>" alt="Circle Image" class="img-raised rounded-circle img-fluid">
	                        </div>
	                        <div class="name">
	                            <h3 class="title"><%=user.name %></h3>
                                <h6 style="text-transform: none;">@<%=user.username %></h6>
                                <% if (user.fbLink.length>0) { %>
                                    <a href="<%= user.fbLink %>" class="btn btn-just-icon btn-link btn-dribbble"><i class="fab fa-facebook"></i></a>
                                <% } %>	
                                <% if (user.twitterLink.length>0) { %>
                                    <a href="<%= user.twitterLink %>" class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-twitter"></i></a>
                                <% } %>	
                                <% if (user.igLink.length>0) { %>
                                    <a href="<%= user.igLink %>" class="btn btn-just-icon btn-link btn-dribbble"><i class="fab fa-instagram"></i></a>
                                <% } %>		
	                        </div>
	                    </div>
    	            </div>
                </div>
                <div class="description text-center">
                    <p><%= user.bio %></p>
                </div>
				<div class="row">
					<div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#info" role="tab" data-toggle="tab">
                                  <i class="material-icons">info</i>
                                  Info
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#photos" role="tab" data-toggle="tab">
                                  <i class="material-icons">photo</i>
                                    Photos
                                </a>
                            </li>
                          </ul>
                        </div>
    	    	</div>
            </div>
        
          <div class="tab-content tab-space pb-3">
            <div class="tab-pane active text-center gallery pb-3" id="info">
                <div class="row">
                    <div class="col-12 col-lg-5 ml-auto">
                        <div class="my-4 pb-3">
                            <div class="card shadow bg-dark rounded pb-3">
                                    <div class="card-body col-12 px-4 py-0 px-md-0 mx-auto text-light">
                                        <div class="card-header"><h3 class="title">Basic Info</h3></div>
                                        <div class="card-body">
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-5">
                                                    <h5 class="card-title">Age</h5>
                                                    <p class="card-text"><i class="fas fa-birthday-cake"></i>   <%= user.age %></p>
                                                </div>
                                                <div class="col-5">
                                                    <h5 class="card-title">City</h5>
                                                    <p class="card-text"><i class="fas fa-map-marker"></i>  <%= user.city %></p>
                                                </div>
                                            </div>
                                            <div class="row mt-5">
                                                <div class="col-9 mx-auto">
                                                    <h5 class="card-title">Marital Status</h5>
                                                    <p class="card-text"><%= user.maritalStatus %></p>
                                                </div>
                                            </div>
                                            <div class="row d-flex justify-content-around mt-5">
                                                <div class="col-5">
                                                    <h5 class="card-title"> <%= user.gender %></h5>
                                                    <!-- <p class="card-text"> </p> -->
                                                </div>
                                                <div class="col-7">
                                                    <h5 class="card-title"><%= user.relPreference %></h5>
                                                    <!-- <p class="card-text"> </p> -->
                                                </div>
                                            </div>
                                                
                                        </div>
                                    </div>
                            </div>
                        </div>    
                        <div class="card shadow bg-success rounded my-5 ">
                            <div class="card-body col-12 px-4 py-0 px-md-0 mx-auto text-light ">
                                <div class="card-header"><h3 class="title">Some Additional Info</h3></div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-9 mx-auto">
                                                <h5 class="card-title mb-1">Currently </h5>
                                                <p class="card-text"><%= user.currently%></p>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-between mt-4">
                                            <div class="col-6">
                                                <h5 class="card-title mb-1">Languages</h5>
                                                <p class="card-text"><%= user.languages%></p>
                                            </div>
                                            <div class="col-6">
                                                <h5 class="card-title mb-1">Virgin ?</h5>
                                                <p class="card-text"><%= user.virgin %></p>
                                            </div>
                                        </div>
                                        <% if (user.nickname.length>0) { %>
                                            <div class="row mt-4">
                                                <div class="col-9 mx-auto">
                                                    <h5 class="card-title mb-1 mb-1">Nickname </h5>
                                                    <p class="card-text"><%= user.nickname%></p>
                                                </div>
                                            </div>
                                        <% } %>
                                        <div class="row d-flex justify-content-between mt-4">
                                            <div class="col-6">
                                                <% if (user.income.length>0) { %>
                                                    <h5 class="card-title mb-1">Has a Source of income ? </h5>
                                                    <p class="card-text"><%= user.income%></p>
                                                <% } else { %>
                                                    <h5 class="card-title mb-1">Has a Source of income ? </h5>
                                                    <p class="card-text">Not Specified</p>
                                                <% } %>
                                            </div>
                                            <div class="col-6">
                                                <% if (user.cook.length>0) { %>
                                                    <% if (user.gender==="Male") { %>
                                                        <h5 class="card-title mb-1">Does he cook ?</h5>
                                                        <p class="card-text"><%= user.cook %></p>
                                                    <% } else if (user.gender==="Female") { %>
                                                        <h5 class="card-title mb-1">Does she cook ?</h5>
                                                        <p class="card-text"><%= user.cook %></p>
                                                    <% } else { %>
                                                        <h5 class="card-title mb-1">Does the person cook ?</h5>
                                                        <p class="card-text"><%= user.cook %></p>
                                                    <% } %>
                                                <% } else { %>
                                                    <% if(user.gender==="Male") { %>
                                                        <h5 class="card-title mb-1">Does he cook ?</h5>
                                                        <p class="card-text">Not Specified</p>
                                                    <% } else if (user.gender==="Female") { %>
                                                        <h5 class="card-title mb-1">Does she cook ?</h5>
                                                        <p class="card-text">Not Specified</p>
                                                    <% } else { %>
                                                        <h5 class="card-title mb-1">Does the person cook ?</h5>
                                                        <p class="card-text">Not Specified</p>
                                                    <% } %>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>  
                    </div>

                    <div class="col-12 col-lg-5 mr-auto">
                        <div class="my-4 pb-3">
                            <div class="card shadow bg-danger rounded pb-3 ">
                                <div class="card-body col-12 px-4 py-0 px-md-0 mx-auto text-light ">
                                <div class="card-header"><h3 class="title">Dating Preferences</h3></div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-9 mx-auto">
                                                <h5 class="card-title mb-1">Looking for ?  </h5>
                                                <% if (user.relType === "Anything will do") { %>
                                                    <p class="card-text">Anything from :</p>
                                                    <ul class="m-0">
                                                        <li><p class="card-text">Short Term</p></li>
                                                        <li><p class="card-text">Long Term</p></li>
                                                        <li><p class="card-text">Hookups</p></li>
                                                        <li><p class="card-text">Casual Flings</p></li>
                                                        <li><p class="card-text">One Night Stands</p></li>
                                                    </ul>
                                                <% } else { %>
                                                    <p class="card-text"><%= user.relType %></p>
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-9 mx-auto">
                                                <h5 class="card-title mb-1">Preferred Age Group </h5>
                                                <p class="card-text">16-20</p>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-12 mx-auto">
                                                <h5 class="card-title mb-1">Short Distance or Long Distance ?</h5>
                                                <p class="card-text"><%= user.relDistance %></p>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-12 mx-auto">
                                                <h5 class="card-title mb-1">Up for Live In ?</h5>
                                                <% if (user.liveIn == "--Not Specified--") { %>
                                                    <p class="card-text">Not Specified</p>
                                                <% } else { %>
                                                    <p class="card-text"><%= user.liveIn %></p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow bg-info rounded my-5 ">
                            <div class="card-body col-12 px-4 py-0 px-md-0 mx-auto text-light ">
                                <div class="card-header"><h3 class="title"><%= user.firstName %>'s Other Accounts</h3></div>
                                    <div class="card-body">
                                        <% if (user.fbLink.length>0) { %>
                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col-2 acc-icon"><i class="fab fa-facebook"></i></div>
                                            <div class="col-5 "><a class="acc-link card-title" href="<%= user.fbLink %>">Facebook</a></div>
                                        </div> 
                                        <% } %>
                                        <% if (user.igLink.length>0) { %>
                                        <div class="row d-flex justify-content-center my-3">
                                            <div class="col-2 acc-icon"><i class="fab fa-instagram"></i></div>
                                            <div class="col-5 "><a class="acc-link card-title" href="<%= user.igLink %>">Instagram</a></div>
                                        </div> 
                                        <% } %>
                                        <% if (user.twitterLink.length>0) { %>
                                            <div class="row d-flex justify-content-center my-3">
                                                <div class="col-2 acc-icon"><i class="fab fa-twitter"></i></div>
                                                <div class="col-5 "><a class="acc-link card-title" href="<%= user.twitterLink %>">Twitter</a></div>
                                            </div> 
                                        <% } %>
                                        <% if ( ((user.fbLink.length==0) && (user.igLink.length==0)) && (user.twitterLink.length==0)) { %>
                                            <div class="row d-flex justify-content-center my-3">
                                                <div class="col-7 "><div class="acc-link card-title" href="javascript:;">No Account Links Provided</div></div>
                                            </div> 
                                        <% } %>
                                    </div>
                                </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="tab-pane text-center gallery" id="photos">
      			<div class="row">
      				<div class="col-md-6 mx-auto">
                        <% user.images.forEach(function(img){ %>
                            <img src="<%= img.url %>" class="rounded">
                        <% }) %>
      				</div>
      			</div>
  			</div>
          </div>
          <div class="row d-flex justify-content-center pb-4">
              <a href="/profile/<%= user._id %>/edit" class="btn btn-lg btn-rose">Edit Profile</a>
          </div>
            </div>
        </div>
	</div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
</body>
</html>
